
<nav class="A">

    <div class="top1">
  
        <h1 style="font-size:35px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-weight:70px;text-shadow: 1px 1px 1px rgb(250, 76, 7),2px 2px 1px red;margin-bottom: 15px; margin-left: 0px;">StockCart</h1>
    </div>
  
      <div class="top2">
  
        <a href="./login"><i class="fa fa-fw fa-user"></i> Login</a>
  
    </div>
  
  </nav>

  <div style="margin-top: 0px;position: relative;">
  
  
  <marquee behavior="scroll" direction="left" style="margin-top:0px;padding-left: 5px;position: relative;">
  
      <img src="https://ak.picdn.net/shutterstock/videos/112852/thumb/1.jpg" style="width:600px" style="height:400px"alt="" >
  
      
  
      <img src="https://s3.amazonaws.com/gurufocus_charts/487342921.png" style="width:600px" style="height:400px"  alt="">
  
     
  
      <img src="https://www.industryglobalnews24.com/images/us-stock-market-trends-expected-in-2020.jpeg" style="width:600px" style="height:600px"alt="">
  
     
  
      <img src="https://www.dsij.in/Portals/0/EasyDNNNews/8543/600600p10163EDNmainimg-crypto-market-price.jpg" style="width:600px" style="height:400px"alt="">
  
  </marquee>
</div>